youtube-transcript-api
langchain
openai
faiss-cpu
SpeechRecognition
gTTS
pyaudio
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-classic
nest-asyncio
tavily-python  # For web search tool
langchainhub     # To pull agent prompts